<nav class="navbar navbar-expand-lg fixed-top bg-secondary ph-navbar">
  <div class="container-fluid">
    <a class="ph-logo me-lg-4" href="#">
      Victor<span class="ph-logo-badge bg-gradient-amberV">Jeremias</span>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <span class="ms-auto"></span>

      <ul class="navbar-nav">
        @for (item of itens; track $index) {
          <li class="nav-item">
            <div></div>
            <a class="nav-link active" aria-current="page" [href]="item.url"
              ><i class="{{ item.icone }}"></i>

              {{ item.titulo }}
            </a>
          </li>
        }
      </ul>
    </div>

    <!--
    <button class="btn btn-ph-primary" onclick="handleContactClick()">
      <i class="fa-solid fa-paper-plane"></i>
      <span>Contato</span>
    </button> -->
  </div>
</nav>
