<section id="habilidades" class="mt-lg-0">
  <div class="container my-auto">
    <div class="row g-5 align-items-center justify-content-center">
      <div class="col-lg-7 order-1 order-lg-0">
        <div>
          <ul class="list-unstyled row row-cols-1 row-cols-lg-2 g-3 mt-5">
            @for (habilidade of habilidades; track habilidade.titulo) {
              <li class="col">
                <article
                  class="d-flex align-items-start gap-3 h-100 boorder border-1 border-warning rounded-3 p-3 bg-gradient-amber text-dark pd-3"
                >
                  <img [src]="habilidade.imagem" [alt]="habilidade.titulo" class="img-fluid mb-3" />
                  <div>
                    <h4 class="fs-4 fw-medium fst-italic">{{ habilidade.titulo }}</h4>
                    <p>{{ habilidade.descricao }}</p>
                  </div>
                </article>
              </li>
            }
          </ul>
        </div>
      </div>

      <div class="col-lg-5 order-0 order-lg-1">
        <h2 class="display-6 mb-3 fw-medium fst-italic">Habilidades</h2>

        <h3 class="fw-medium fst-italic">minhas principais habilidades</h3>
      </div>
    </div>
  </div>
</section>
