<section id="sobre" class="mt-3 mt-lg-0 py-5">
  <div class="container my-auto">
    <div class="row g-5 align-items-center justify-content-center">
      <div class="col-lg-7 order-1 order-lg-0">
        <div>
          <p class="display-6 mb-2">
            Olá, sou <strong class="text-primary display-5">Victor Jeremias</strong> !
          </p>

          <span class="badge bg-dark text-orange border border-warning px-3 py-2 rounded-pill mb-3">
            <i class="fa-solid fa-fire me-1"></i> Full Stack Developer
          </span>
        </div>

        <div>
          <p>
            Sou um desenvolvedor <strong class="text-primary">full stack</strong> apaixonado por
            rock. Com experiência em diversas tecnologias, busco constantemente aprimorar minhas
            habilidades e contribuir para projetos desafiadores.
          </p>
        </div>

        <div class="d-flex flex-wrap align-items-center gap-3 fs-5">
          <span
            ><i class="bi bi-geo-alt mx-2 text-warning"></i>
            <strong class="text-warning">Lages-SC, Brasil</strong>
          </span>

          <span>-</span>

          <span class="text-warning fs-5"
            ><i class="bi bi-envelope-at mx-2"></i
            ><strong>victorvarelejeremias@gmail.com</strong></span
          >

          <span class="d-flex justify-content-center">
            <a target="_blank" href="https://github.com/VictorJer">
              <i class="bi bi-github fs-2"></i>
            </a>

            <span class="mx-1"></span>

            <a
              target="_blank"
              href="https://www.linkedin.com/in/victor-varela-jeremiasdataanalytics/"
            >
              <i class="bi bi-linkedin fs-2"></i>
            </a>
          </span>
        </div>
      </div>

      <div class="col justify-content-center d-flex order-0 order-lg-1 bg-gradient-sombrio">
        <img class="img-fluid rounded-circle" src="img/vitu.png" alt="Victor Jeremias" />
      </div>
    </div>
  </div>
</section>
